

<div class="welcome-screen">
  <header class="navbar">
    <div class="navbar__logo">DelFooD</div>

    <nav class="navbar__menu">
      <a href="#" class="navbar__link">Home</a>
      <a href="#" class="navbar__link">features</a>
      <a href="#" class="navbar__link">Pages</a>

      <!-- Menu trigger container: link + dropdown band -->
      <div class="menu-trigger">
     <a href="#"
   class="navbar__link navbar__link--menu"
   (click)="toggleMenu($event)"
   aria-haspopup="true"
   [attr.aria-expanded]="showMenu">
  MENU
</a>

<div class="menu-dropdown" *ngIf="showMenu">
  <div class="menu-dropdown__inner">
    <app-menuband></app-menuband>
  </div>
</div>
      </div>

      <a href="#" class="navbar__link">Shop</a>
      <a href="#" class="navbar__link">Landing</a>
    </nav>

    <button class="navbar__cart">
      <i class="fa-solid fa-cart-shopping"></i>
    </button>
  </header>
</div>
