<div class="menu-band">
  <div class="container">
    <div class="menu-grid">
      <a *ngFor="let it of menuItems" class="menu-tile" href="#">
        <div class="tile-media">
          <ng-container *ngIf="it.loading">
            <div class="skeleton"></div>
          </ng-container>

          <ng-container *ngIf="!it.loading && it.img">
            <img [src]="it.img" [alt]="it.title" />
          </ng-container>

          <ng-container *ngIf="!it.loading && it.error">
            <div class="tile-caption">Image unavailable</div>
          </ng-container>
        </div>
        <div class="tile-caption">
          <span class="caption-title">{{ it.title }}</span>
        </div>
      </a>
    </div>
  </div>
</div>
